footer {
    .love {
        padding-top: 1rem;

        i {
            color: red;
            font-size: 20px;
            margin: 0 3px;
        }
    }

    #social i {
        font-size: 30px;
        padding: 0 0.5rem;
        cursor: pointer;
        color: black;
    }
}