#languages {
   visibility: hidden;
   h2 {
      color: black;
      padding-top: 1rem;
      margin-bottom: 30px;
   }

   h3 {
      text-align: center;
      color: black;
      padding-bottom: 1rem;
   }

   .skillbar {
      margin: 20px;
      width: 200px;
      height: 200px;
      position: relative;
      margin: auto;
      margin-bottom: 2rem;
   }

}
 
 